manifest-version = 1

[component]
name = "Piano for Le Monde"
version = "0.8.4"
category = "data-collection"
subcategory = "analytics"
description = """
Piano Analytics, known for its precise analytics and data management platform, can be integrated directly through Edgee,
enabling you to harness its powerful analytics tools without the need for embedding any additional scripts on your site. This edge-based integration significantly boosts site performance while adhering to the highest standards of user privacy.
> - Precise analytics. Get a complete understanding of your customers across devices and platforms.
> - Data management platform. Understand the customer journey and improve marketing ROI.
> - Edge-based integration. Harness powerful analytics tools without the need for embedding additional scripts on your site.
> - Boost site performance. Adhere to the highest standards of user privacy."""
documentation = "https://www.edgee.cloud/docs/components/data-collection/piano-analytics"
repository = "https://github.com/sachamorard/lemonde-piano-component"
wit-version = "1.0.0"
icon-path = "piano_analytics.png"

[component.build]
command = "cargo build --target wasm32-wasip2 --release && cp ./target/wasm32-wasip2/release/piano_analytics_component.wasm piano_analytics.wasm"
output_path = "piano_analytics.wasm"

[component.settings.piano_site_id]
title = "Site ID"
type = "string"
required = true
description = """
ID of the site the data belongs to"""

[component.settings.piano_collection_domain]
title = "Collection Domain"
type = "string"
required = true
description = """
Collection endpoint for your organization"""

